%ul.Breadcrumb
  - foreach ($breadcrumb as $index => $crumb)
    %li.Breadcrumb-item
      - if (count($breadcrumb) - 1 == $index)
        = $crumb['title']
      - else
        %a.Breadcrumb-link(href=$crumb['url'])
          = $crumb['title']
